<div class="col-lg-12 mb-3" id="{{id}}">
    <div class="card text-white bg-dark d-flex flex-row">
        <div class="card-body" style="max-width: 70%; flex-basis: 70%;">
            <h5 class="card-title subject">{{subject}}</h5>
            <div class="badges"></div>
            <div class="loading-indicator" style="display: none;">Loading...</div>
            <p class="card-text">{{summary}}</p>
        </div>
        <ul class="list-group" style="max-width: 30%; flex-basis: 30%;">
            <li class="list-group-item right-details-list-item-from author-name">{{author_name}}</li>
            <li class="list-group-item right-details-list-item-from author-email">{{author_email}}</li>
            <li class="list-group-item right-details-list-item-to our-account-name">{{our_account_name}}</li>
            <li class="list-group-item right-details-list-item-to our-email">{{our_email}}</li>
            <li class="list-group-item right-details-list-item-date datetime">{{datetime}}</li>
        </ul>
    </div>
</div>